@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
    color: #06443b;
}

header {
    background-color: #ff72b6;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Calistoga', cursive;
    font-weight: 700;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #004fd6;
    transition: color 0.3s;
    font-family: 'Montserrat', bold;
}

nav ul li a:hover {
    color: #ffee51;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
}

#inicio {
    background: url('../imagens/banner.jpg') no-repeat center center/cover;
    color: #06443b;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Calistoga', cursive;
}

h1, h2, h3 {
    font-family: 'Calistoga', cursive;
    color: #ff72b6;
}

h4, h5, h6 {
    font-family: 'Montserrat', bold;
    color: #004fd6;
}

p {
    font-family: 'Montserrat', regular;
    color: #06443b;
}

footer {
    background-color: #06443b;
    color: #ffee51;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
